.navbar {
	/* margin-top: 10px !important; */
	padding: 0px;
	margin: 0px;
	/* position: sticky; */
}

.container {
	padding: 0px;
	margin: 10px 10px !important;
	justify-content: start !important;
}
.skjlsdjgbsdjfbsdfv {
	padding-left: 100px;
}
