.previous {
	background-color: slateblue;
	background-image: url(../images/network.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	/* padding-bottom: 50px; */
}
.inn {
	height: 100%;
	border-radius: 80px;
	padding: 20px;
	text-align: center;
	color: white;
}
.container-box {
	display: flex;

	height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.h1-heading {
	color: red;
	text-align: center;
}
@media screen and (min-width: 1051px) {
	.previous {
		height: 90vh;
	}
}
