.center {
	text-align: center;
	justify-content: center;
	align-items: center;
	color: white;
	padding: 30px;
}
#about {
	background-image: url(../images/sed.jpg);
	background-repeat: repeat;
	background-size: 100%;
	
	margin-bottom: -25px;
}
.big {
	font-size: 50px;
	padding: 30px;
}
