.about_name {
	height: 100vh;
	color: white;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-size: 100px;
}
#about {
	background-image: url(../images/sed.jpg);
	background-repeat: no-repeat;
	background-size: 120%;
	max-width: 100%;
	max-height: 100%;
}
