.center {
	text-align: center;
	justify-content: center;
	align-items: center;
}
#contact {
	background-color: rgb(148, 118, 255);
	height: 100vh;
	margin-bottom: -25px;
}
.big {
	font-size: 50px;
	padding: 30px;
}
