.footer {
    opacity: 0.9;
    margin-bottom: -20px !important;
    padding-left: 82px;
}
.ooter {
    background-color: black;
    margin-bottom: -45px !important;
    opacity: 0.8;
    padding-left: 82px;   
}