#text_div {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgb(14, 255, 255);
}

.center_all {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: rgb(10, 43, 187);
}
.custom-subTitle {
	font-size: 70px;
	color: white;
}
.Particle_screen {
	background-color: rgb(0, 0, 0);
}
